body {
    margin: 0;
    padding: 0;
    border: 0;
}

a{
    text-decoration: none;
    color: transparent;
}
$base-width: 1380px;
$max-width: 1920px;
$header-height: 234px;
$top-height: 180px;
$body-margin: 32px;

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-rows: $header-height minmax(344px, auto) minmax(400px, auto);
    overflow: hidden;
}


$nav-border: 2px;
.header {
    margin: 0px auto;
    width: 100%;
    height: $header-height;
    background-image: url("../src/img/cloud.jpg");
    background-attachment: fixed;
    opacity: 0.8;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: $base-width+400px $header-height;

    &__top {
        margin: 0px auto;
        width: $base-width;
        height: $top-height;
        font-size: 100px;
        line-height: 208px;
        padding-left: 16px;
    }
    &__nav-contaioner {
        margin: auto;
        width: $base-width;
        height: $header-height - $top-height - $nav-border*2;
        background-color: rgba(255, 255, 255, 0);
        border: $nav-border solid #0000003f;
        border-style: solid hidden solid;
        @include flex-row-center();
    }

    &__nav {
        flex-grow: 1;
        
        &--list {
            padding: 0;
            margin: 0;
            height: 40px;
            list-style-type: none;
            border: 2px solid rgba(196, 196, 196, 0.438);
            border-style: solid hidden solid;
            @include flex-row-center();
        }

        &--item{
            font-weight: bold;
            flex-grow: 1;
            text-align: center;
            &:nth-child(1){
                min-width: 360px;
            }
            
            @for $i from 2 to 6{
                &:nth-child(#{$i}) {
                    border-left: 2px solid #f0f0f0;
                }
            }
        }
    }
}

.main {
    display: grid;
    grid-template-columns: 360px 1px auto;
    margin: auto;
    width: $base-width;
    background-color: white;

    &__body {
        // padding: 40px 40px;
        // border: 1px solid #f0f0f0;
        border-radius: 20px;
        margin: $body-margin;
    }
}

@mixin card {
    border-radius: 20px;
    padding: $body-margin;
    margin-bottom: $body-margin;
}

@mixin card-desc() {
    padding: 0px $body-margin;
    margin: 0;
    // min-height: $img-height / 5;
    font-weight: bold;
    list-style-type: none;
    font-size: 32px;
}

@mixin color-code($colors) {
    @for $i from 1 through $color-num {
        $color: nth($colors, $i);
        &:nth-child(#{$i}) {
            color: $color;
        }
    }
}

@mixin color-item($colors, $img-height) {
    display: flex;
    min-height: $img-height / 5;
    min-width: 100px;
    @for $i from 1 through $color-num {
        $color: nth($colors, $i);
        &:nth-child(#{$i}) {
            background-color: $color;
            color: $color;
        }
    }
}

$img-height-sqaure: 360px;
$img-height-vertical: 510px;
$color-num: 5;

.card-space {
    min-width: 20px;
}

.card-right {
    // border: 2px solid gray;
    $colors1: #efe0db, #ecbbb3, #b27278, #3b3f36, #54626f;
    // $colors3: #867d62, #b4753b, #7e5022, #6e5331, #454124;
    $colors3: #8E9F32, #8D9555, #4B7239, #405639, #A18269;
    @include card;
    @include flex-row-center();
    &:nth-child(1) {
        box-shadow: 10px 10px 16px #ecbbb3;
    }
    &:nth-child(3) {
        box-shadow: 10px 10px 16px #a18269;
    }
    
    &__desc {
        @include card-desc();
        @include flex-column-center();
        align-items: flex-end;
        flex-grow: 1;
        min-height: $img-height-sqaure / 5;
        &--code1 {
            @include color-code($colors1);
        }
        &--code3 {
            @include color-code($colors3);
        }
    }

    &__space{
        min-width: $body-margin;
    }

    &__color {
        @include flex-column-center();

        &--item1 {
            @include color-item($colors1, $img-height-sqaure);
        }
        &--item3 {
            @include color-item($colors3, $img-height-sqaure);
        }
    }
}

.card-left {
    $colors2: #b6b353, #727258, #b16a5b, #cf4b50, #e39803;
    $colors4: #eeb674, #c69766, #ae8e67, #9c714e, #745b45;
    @include card;
    @include flex-row-center();
    &:nth-child(2) {
        box-shadow: 10px 10px 16px #b6b353;
        
    }
    &:nth-child(4) {
        box-shadow: 10px 10px 16px #745b45;
    }

    &__desc {
        @include card-desc();
        @include flex-column-center();
        align-items: flex-start;
        flex-grow: 1;
        // min-height: $img-height-sqaure / 5;

        &--code2{
            min-height: $img-height-vertical / 5;
            @include color-code($colors2);
        }

        &--code4{
            min-height: $img-height-sqaure / 5;
            @include color-code($colors4);
        }
    }

    &__space{
        width: 40px;
    }

    &__color {
        @include flex-column-center();
        
        &--item2 {
            @include color-item($colors2, $img-height-vertical);
        }

        &--item4 {
            @include color-item($colors4, $img-height-sqaure);
        }
    }
}

.vertical-bar {
    width: 1px;
    height: 100%;
    background-color: #f0f0f0;
    background-clip: border-box;
    margin: $body-margin 0px 0px;
}

.banner {
    display: grid;
    grid-template-rows: 1fr 1.618fr;
    
    height: 454px;
    border: 1.5px solid #f0f0f0;
    border-radius: 20px;
    margin: $body-margin;
    padding: 50px 40px;

    &__profile {
        margin: 0px auto;
        overflow: hidden;
        border-radius: 20px;
        border: 4px solid #efe0db;
        border-style: double;
        &--img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
            opacity: 0.85;

        }
    }

    &__category {
        display: flex;
        flex-direction: column;

        &--links {
            height: 20%;
            padding: 16px 16px 0px;
            @include flex-row-center();
            justify-content: space-between;
        }

        &--desc {
            flex-grow: 1;

            li {
                line-height: 36px;
            }
        }
    }
}

.footer {
    background-color: rgba(245, 222, 179, 0.342);
}
