body {
    margin: 0;
    padding: 0;
    border: 0;
}

$base-width: 1280px;
$max-width: 1920px;
$header-height: 234px;
$top-height: 180px;
$body-margin: 16px;

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-rows: $header-height minmax(344px, auto) minmax(400px, auto);
    overflow: hidden;
}


$nav-border: 2px;
.header {
    margin: 0px auto;
    width: 100%;
    height: $header-height;
    // background-image: ;
    // width: $base-width;
    background-image: url('/src/img/background-top-side.jpg');
    background-color: white;
    background-attachment: fixed;
    opacity: 0.8;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    // background-size: $base-width+400px $header-height;
    

    img {
        opacity: 0.5;
        background-attachment: fixed;
    }

    &__top {
        margin: 0px auto;
        width: $base-width;
        height: $top-height;
        font-size: 100px;
        line-height: 208px;
        // background-color: aquamarine;
    }
    &__nav-contaioner {
        margin: auto;
        width: $base-width;
        height: $header-height - $top-height - $nav-border*2;
        background-color: rgba(255, 255, 255, 0);
        border: $nav-border solid #0000003f;
        border-style: solid hidden solid;
        @include flex-row-center();
    }

    &__nav {
        flex-grow: 1;
        
        &--list {
            padding: 0;
            margin: 0;
            height: 40px;
            list-style-type: none;
            border: 2px solid rgba(196, 196, 196, 0.438);
            border-style: solid hidden solid;
            @include flex-row-center();
            // display: grid;
            // grid-template-columns: 248px 300px ;

        }

        &--item{
            
            flex-grow: 1;
            text-align: center;
            &:nth-child(1){
                min-width: 280px;
            }
            
            @for $i from 2 to 6{
                &:nth-child(#{$i}) {
                    border-left: 2px solid #f0f0f0;
                }
            }
            // float: left;
        }
    }
}

.main {
    display: grid;
    grid-template-columns: 280px 1px auto;
    margin: auto;
    width: $base-width;
    background-color: white;

    &__body {
        padding: 40px 40px;
        // border: 1px solid #f0f0f0;
        border-radius: 20px;
        margin: $body-margin;
    }
}

.vertical-bar {
    width: 1px;
    height: 100%;
    background-color: #f0f0f0;
    // border: 1px solid black;
    background-clip: border-box;
    margin: $body-margin 0px 0px;
}

.banner {
    display: grid;
    grid-template-rows: 1fr 1.618fr;
    
    height: 454px;
    border: 1px solid #f0f0f0;
    border-radius: 20px;
    margin: $body-margin;
    padding: 40px 20px;

    &__profile {
        margin: 0px auto;
        overflow: hidden;
        border-radius: 100%;
        &--img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
            opacity: 0.9;
        }
    }

    &__category {
        display: flex;
        flex-direction: column;

        &--links {
            height: 20%;
            padding: 16px 16px 0px;
            @include flex-column-center();
        }

        &--desc {
            padding: 0px 16px 16px;
            flex-grow: 1;
        }
    }
}

